<header id="header" class="header">
    <div class="header-container">

        <button type="button" class="toggle-btn" aria-label="Abrir menu">
            <img src="/src/assets/Icons/arrow_left.svg" alt="">
        </button>

        <nav class="nav">
            <div class="header-frame">
                <img class="header-img" src="/src/assets/profile/profile_suit.webp" alt="Foto de perfil de Bruno">
            </div>
            <h1 class="header-title">Bruno Costa</h1>
            <p class="header-text">Desenvolvedor Web</p>
            <ul class="nav-list">
                <li><a class="nav-item" href="#Projects">Projetos</a></li>
                <li><a class="nav-item" href="#About">Sobre Mim</a></li>
                <li><a class="nav-item" href="#Contacts">Contato</a></li>
                <!-- <li><a class="nav-item" href="#links"></a></li> -->
            </ul>
        </nav>
    </div>
</header>

<!-- <div id="header"></div> -->