<footer id="footer" class="footer">
    <div class="footer-container">
        <div class="credits">
            <p>
                Desenvolvido por <a rel="noopener" href="https://www.linkedin.com/in/bruno-costa-it/" target="_blank">Bruno Costa</a>
            </p>
        </div>

        <div class="legal">
            <a rel="noopener" href="/pages/privacy.html">Política de Privacidade</a>
            <a rel="noopener" href="/pages/terms.html">Termos de Serviço</a>
        </div>
    </div>
</footer>

<!-- <div id="footer"></div> -->