.main {
    background-color: var(--background);
    color: var(--text);
}

/* HERO
////////////////////// */
.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: var(--md);
    padding: var(--lg) 0;
    height: 100vh;
}

.hero-frame {
    padding: var(--xl);
}

.hero-img {
    aspect-ratio: 1/1;
    border-radius: 100%;
    object-fit: cover;
    box-shadow: var(--shadow);
    width: 100%;
}

.hero-title {
    color: var(--primary);
    font-size: var(--lg);
}

.section-title {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: var(--xl);
    text-align: center;
}

/* PROJECTS
////////////////////// */


/* ABOUT 
/////////////////////*/


/* CONTACTS
/////////////////////*/
.contacts {
    height: fit-content;
}

.contacts-links {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: var(--lg);
    padding: var(--lg);
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--md);
    width: 30%;
    height: 30%;
    font-size: var(--md);
}

.contact-icon {
    aspect-ratio: 1/1;
    height: 100%;
}

@media (min-width: 1024px ) {
    .main {
        padding-left: 20%;
    }

    /* HERO
    ////////////////////// */
    .hero-content {
        display: grid;
        grid-template-areas: 
        'title   img'
        'text    img'
        ;
        padding: var(--lg);
    }

    .hero-frame {
        grid-area: img;
        width: 100%;
    }

    .hero-title {
        grid-area: title;
        justify-self: flex-end;
        align-self: flex-end;
    }

    .hero-text {
        grid-area: text;
        align-self: flex-start;
    }

    /* PROJECTS
    ////////////////////// */


    /* ABOUT 
    /////////////////////*/


    /* CONTACTS
    /////////////////////*/
}